# Backend
backend/.env
backend/__pycache__/
backend/*.pyc
backend/.pytest_cache/
backend/.venv/

# Frontend
MaazaCafe/node_modules/
MaazaCafe/dist/
MaazaCafe/.env
MaazaCafe/.DS_Store

# General
*.log
*.pyc
__pycache__/
.DS_Store
.vscode/
.env
